.catalog-page {
    margin-top: 50px;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-bar-catalog {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--cafe_oscuro);
    border-radius: 30px;
    background-color: var(--beige_claro);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.19);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.category-button {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid var(--verde_oscuro);
    border-radius: 20px;
    background-color: var(--beige_claro);
    color: var(--verde_oscuro);
    cursor: pointer;
}

.category-button.active {
    background-color: var(--verde_oscuro);
    color: var(--beige_claro);
}

.books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    /* Altura mínima para mantener el diseño */
}

.books-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.book-card {
    padding: 10px;
    text-align: left;
    flex: 1 0 21%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    /* Tamaño mínimo de las tarjetas */
    max-width: 300px;
    /* Tamaño máximo de las tarjetas */
    margin: 10px;
    box-sizing: border-box;
}