

.book-cover {
    width: auto;
    height: auto;
    max-height: 250px;
    object-fit:fill;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.book-info {
    width: 80%;
}

.book-title {
    font-size: 1.2rem;
    margin: 5px 0;
    text-align: left;
}

.book-author {
    font-size: 1rem;
    margin: 5px 0;
    color: var(--texto);
    text-align: left;
}

.book-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-price {
    font-size: 1rem;
    color: var(--texto);
    text-align: left;
}

.add-to-cart {
    background-color: var(--verde_oscuro);
    color: var(--beige_claro);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-to-cart i {
    margin-left: 5px;
}
