.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.card {
    margin-top: 2rem;
    border: none !important;
    -webkit-box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.63);
    box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.63);
    background: rgba(76, 148, 142, 0.98);
    background: -moz-radial-gradient(center, ellipse cover, rgba(76, 148, 142, 0.98) 0%, rgba(76, 148, 142, 1) 0%, rgba(76, 148, 142, 1) 4%, rgba(201, 216, 177, 1) 92%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76, 148, 142, 0.98)), color-stop(0%, rgba(76, 148, 142, 1)), color-stop(4%, rgba(76, 148, 142, 1)), color-stop(92%, rgba(201, 216, 177, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(76, 148, 142, 0.98) 0%, rgba(76, 148, 142, 1) 0%, rgba(76, 148, 142, 1) 4%, rgba(201, 216, 177, 1) 92%);
    background: -o-radial-gradient(center, ellipse cover, rgba(76, 148, 142, 0.98) 0%, rgba(76, 148, 142, 1) 0%, rgba(76, 148, 142, 1) 4%, rgba(201, 216, 177, 1) 92%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(76, 148, 142, 0.98) 0%, rgba(76, 148, 142, 1) 0%, rgba(76, 148, 142, 1) 4%, rgba(201, 216, 177, 1) 92%);
    background: radial-gradient(ellipse at center, rgba(76, 148, 142, 0.98) 0%, rgba(76, 148, 142, 1) 0%, rgba(76, 148, 142, 1) 4%, rgba(201, 216, 177, 1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c948e', endColorstr='#c9d8b1', GradientType=1);
    opacity: 0.9;

}

.card-title {
    color: black !important;
    font-size: 20px !important;
}

.card-text{
    color: black;
    font-size: 36px;
    font-weight: bold;
}

.text-container{
    margin: 30px;
}

.card-img{
    padding-left: 18rem !important;
    padding-top: 4rem !important;
    opacity: 0.5;
    padding: 10px;
}