@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-ibm-plex-sans: "IBM Plex Sans";
  --font-roboto-condensed: "Roboto Condensed";
  --font-stoke: Stoke;

  /* font sizes */
  --font-size-29xl: 3rem;
  --font-size-5xl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-17xl: 2.25rem;
  --font-size-21xl: 2.5rem;
  --font-size-13xl: 2rem;
  --font-size-9xl: 1.75rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-smi: 0.813rem;

  /* Colors */
  --color-white: #fff;
  --color-cadetblue: #509b95;
  --color-dimgray: #5b4d47;
  --color-black: #000;
  --color-gray-100: #231f20;
  --color-gray-200: #0c0c0c;
  --color-gray-300: rgba(255, 255, 255, 0.71);
  --color-linen: #efe8da;
  --color-whitesmoke: #f9f9f9;
  --color-lightgoldenrodyellow: #c9d8b1;
  --color-antiquewhite-100: #f1e6d0;
  --color-antiquewhite-200: rgba(241, 230, 208, 0);
  --color-darkgray-100: rgba(158, 158, 158, 0.45);
  --color-darkgray-200: rgba(150, 150, 150, 0.8);
  --color-silver: #c4c4c4;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-134xl: 9.562rem;
  --gap-base: 1rem;
  --gap-xs: 0.75rem;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-11xl: 30px;
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-xl: 20px;
}
