.navbar-custom {
    background-color: var(--verde_claro);
    box-shadow: 1px 6px 15px -1px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 1px 6px 15px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 1px 6px 15px -1px rgba(0, 0, 0, 0.23);
}


/* Dropdown styles */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--texto);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 0.25rem 1.5rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f8f9fa;

}

.search-bar {
    border: 1px solid var(--cafe_oscuro) !important;
    border-radius: 30px !important;
    background-color: var(--beige_claro) !important;
    box-shadow: -1px 0px 11px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: -1px 0px 11px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -1px 0px 11px 0px rgba(0, 0, 0, 0.19);
}

.login-btn-nav {
    background-color: var(--verde_oscuro) !important;
    color: var(--beige_claro) !important;
    border: 1px solid var(--beige_claro) !important;
}

.login-btn-nav:hover {
    background-color: var(--verde_oscuro)b4 !important;
    color: var(--beige_claro) !important;
    border: 1px solid var(--beige_claro) !important;
}

.register-btn-nav {
    background-color: var(--beige_claro) !important;
    color: var(--verde_oscuro) !important;
    border: 1px solid var(--verde_oscuro) !important;
}

.register-btn-nav:hover {
    background-color: var(--beige_claro)c0 !important;
    color: var(--verde_oscuro) !important;
    border: 1px solid var(--verde_oscuro) !important;
}

.select-mode{
    color: var(--texto)!important;
}
.logo-name{
    color: black;
}