.recent-publications {
    margin-top: 100px;
    text-align: center;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    /* Ajustado para un diseño más limpio */
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    color: var(--texto);
    /* Asegúrate de que las flechas sean visibles */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.book {
    text-align: center;
    padding: 10px;
    flex: 1 0 25%;
    /* Ajusta el ancho de cada libro para que ocupe un cuarto del contenedor */
    box-sizing: border-box;
    /* Incluye el padding en el tamaño del contenedor */
}

.book-cover {
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto;
    /* Mantén la proporción de la imagen */
    max-height: 350px;
    /* Limita la altura máxima */
}

.book-title {
    font-size: 1.2rem;
    margin-top: 10px;
}

.book-author,
.book-price {
    font-size: 1rem;
    color: var(--texto);
}

.add-to-cart {
    margin-top: 10px;
}

/* Media Queries para asegurar la responsividad */
@media (max-width: 1200px) {
    .book {
        flex: 1 0 33.33%;
        /* Tres libros por fila en pantallas grandes */
    }
}

@media (max-width: 992px) {
    .book {
        flex: 1 0 50%;
        /* Dos libros por fila en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .book {
        flex: 1 0 100%;
        /* Un libro por fila en pantallas pequeñas */
    }

    .carousel-control {
        font-size: 1.5rem;
        /* Reduce el tamaño de las flechas en pantallas pequeñas */
    }
}