.recent-publications {
    margin-top: 100px;
    text-align: center;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    /* Ajustado para un diseño más limpio */
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    color: var(--texto);
    /* Asegúrate de que las flechas sean visibles */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}
